<div class="container">
  <div class="jumbotron bg-dark text-center">
      <form class="example-form offset-3" #form="ngForm">
          <mat-form-field 
            class="example-full-width">
            <input
            class="text-center text-light" 
            type="text" 
            name="firstname"
            matInput 
            required
            ngModel
            placeholder="Your First Name"  
            value="">
          </mat-form-field>
          <mat-form-field 
            class="example-full-width">
            <input
            class="text-center text-light" 
            name="lastname"
            ngModel
            required
            matInput 
            placeholder="Your Last Name" 
            value="">
          </mat-form-field>
          <mat-form-field 
            class="example-full-width">
            <input
            class="text-center text-light" 
            type="email" 
            name="email"
            matInput 
            placeholder="Your Email" 
            ngModel
            email 
            required
            value="">
          </mat-form-field>
          <h5 class="btn bg-black text-light-teal w-100" (click)="onRegister(form)">Register</h5>    
      </form>
      <img *ngIf="done" src="assets/check.gif" alt="done" id="done">
  </div>
</div>  