<div class="bg-dark p-5">
  <h2 class="text-center text-light-teal">Select Cashier To See His Log</h2>
    <mat-form-field class="offset-5">
      <mat-select placeholder="Select Cashier">
        <mat-option 
        *ngFor="let cashier of cashiers" 
        [value]="cashier.firstname"
        (click)="getTransactions(cashier.cashierid)">
          {{ cashier.firstname + ' ' + cashier.lastname}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</div>  
<div class="m-3 bg-light t-rad">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Cost</th>
        <th scope="col">Paid</th>
        <th scope="col">Change</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let trans of allTransactions">
        <td>{{ trans.time | date }}</td>
        <td>{{ trans.cost }}</td>
        <td>{{ trans.paid }}</td>
        <td>{{ trans.change }}</td>
      </tr>
    </tbody>
  </table>
</div>