<div class="container">
  <div class="jumbotron bg-dark">
      <form class="example-form offset-3" #form="ngForm">
          <mat-form-field 
            class="example-full-width">
            <input
            class="text-center text-light" 
            type="email" 
            matInput 
            ngModel
            name="email"
            placeholder="Cashier Email" 
            email 
            required
            value="">
          </mat-form-field>
          <h5 class="btn bg-black text-light-teal w-100" (click)="onLogin(form)">Login</h5>    
      </form>
      <p class="text-center mt-3 text-light-teal" routerLink="/register">register new cashier</p>
  </div>
</div>  