<div class="container">
  <div class="jumbotron bg-dark">
      <form #form="ngForm" class="text-center">
          <div class="form-group">
            <label for="cost" class="text-bigue">Enter Cost</label>
            <input 
            ngModel
            name="cost"
            type="number" 
            class="form-control" 
            id="cost" 
            aria-describedby="itemCost" 
            placeholder="Enter Cost">
          </div>
          <div class="form-group">
            <label for="paid" class="text-bigue">Paid Amount</label>
            <input 
            name="paid"
            type="number" 
            ngModel
            class="form-control" 
            id="paid" 
            placeholder="Enter Paid Amount">
          </div>
          <h3 class="btn bg-black text-light-teal w-100 mt-3" (click)="onCalculate(form)">Calculate Change</h3>    
        </form>
        <div class="mt-5">
          <h5 class="text-center text-light-teal"> The Change is </h5>
          <h1 class="text-center text-red">{{ model.change }}</h1>
        </div>
        <div class="text-center">
          <h3 class="btn bg-black text-light-teal mt-3" (click)="onConfirm(form)">Confirm Transaction !</h3>    
        </div>
      <img *ngIf="done" src="assets/check.gif" alt="done" id="done" class="offset-5">
  </div>
</div>