/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #F0D1A8;
}
.bg-black {
    background: #060808;
}

h5.bg-black:hover {
    background: #F0D1A8;
    cursor: pointer;
    color: #060808;
}

h5.bg-black {
    border-radius: 10px;
}

.text-black {
    color: #060808;
}

.bg-red {
    background: #F74A38;
}

.text-red {
    color: #F74A38;
}

.bg-bigue {
    background: #F0D1A8;
}

.text-bigue {
    color: #F0D1A8;
}

.bg-dark-teal {
    background: #3D6058;
}

.text-dark-teal {
    color: #3D6058;
}


.bg-light-teal {
    background: #74B6A2;
}

.text-light-teal {
    color: #74B6A2;
}
