<div class="container">
  <div class="jumbotron shadow-lg">
    <h1 class="text-center text-dark-teal display-2">Hello!</h1>
    <h3 class="text-center text-light-teal">You Can </h3>
    <div class="row mt-5">
      <div class="col">
        <h5 class="bg-black text-light-teal text-center py-4 my-3 shadow-sm" routerLink="logs"> See The Log History</h5>
      </div>
      <div class="col">
        <h5 class="bg-black text-light-teal text-center py-4 my-3 shadow-sm" routerLink="login"> Login As Cashier </h5>
      </div>
    </div>

  </div>
</div>